@font-face {
    font-family: "icons_social_media";
    src: url("assets/fonts/icons_social_media.woff") format("woff"),
    url("assets/fonts/icons_social_media.otf") format("opentype"),
    url("assets/fonts/icons_social_media.svg#filename") format("svg");
    }

@font-face {
    font-family: "chronosfer-demo";
    src: url("assets/fonts/chronosfer-demo.woff") format("woff"),
    url("assets/fonts/chronosfer-demo.otf") format("opentype"),
    url("assets/fonts/chronosfer-demo.svg#filename") format("svg");
    }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    overflow-y: hidden;
}


.home-container {
    height: 100vh;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    padding: 2vh;
}

.home-container-fluid {
    height: 100vh;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 2vh;
}

.header-holder {
    padding:  0vh 2vh;
    border: 1px solid #fff;
    background-color: rgba(212, 212, 212, 0.5);
    box-shadow: 0px 0px 5px 1px rgb(190, 190, 190);
}

.home-logo {
    height: 7vh;
    width: auto;
}

.pages-navbar {
    margin: auto 0;
    display: flex;
    justify-content: right;
}

.navbar-holder nav {
    text-align: center;
    margin-left: 4vw;
    font-family: 'chronosfer-demo';
}

.home-navbar-link {
    text-align: center;
    text-decoration: none;
    color: #f7b80b;
    cursor: pointer;
    transition: all 1s;
    font-size: 2.3vh;
}

.home-navbar-link:hover {
    color: #fff;
    text-shadow: 0px 0px 10px #888888;
}

.footer-holder {
    padding:  0vh 2vh;
    border: 1px solid #fff;
    background-color: rgba(212, 212, 212, 0.5);
    box-shadow: 0px 0px 5px 1px #bebebe;
}

.footer-logo {
    height: 8vh;
    width: auto;

}

.footer-links-holder {
    display: flex;
    margin:  auto 0;
    justify-content: center;
}

.footer-links-holder nav {
    text-align: center;
    margin: 0 5vh;
}

.footer-links-holder nav a {
    font-family: 'chronosfer-demo';
    font-size: 2.3vh;
    text-decoration: none;
    color: #f7b80b;
    cursor: pointer;
    transition: all 1s;
}

.footer-links-holder nav a:hover {
    color: #fff;
    text-shadow: 0px 0px 10px #888888;
}

.social-link-holder {
    margin: auto 0;
    display: flex;
    justify-content: right;
}

.social-links-footer a {
    font-family: 'icons_social_media';
    font-size: 3vh;
    text-decoration: none;
    color: #f7b80b;
    margin-left: 3vh;
    transition: all 1s;
}

.social-links-footer a:hover {
    color: #fff;
    text-shadow: 0px 0px 10px #888888;
}

.section-type-whole {
    height: 80vh;
    width: 100%;
}

.section-type-first {
    padding: 4vh;
    width: 40vw;
    height: 80vh;
    margin: 6vh auto;
    transition: all .5s ease-in;
    
}

.section-type-first:hover {
    border: transparent;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.8);
    padding: 4vh;
    width: 40.1vw;
    height: 80.1vh;
    margin: 5.8vh auto;
    background-color: rgba(0, 0, 0, 0.2);
}

.pages-col-1, .pages-col-2, .pages-col-3, .pages-col-4, .pages-col-6, .pages-col-8, .pages-col-9, .pages-col-10, .pages-col-11, .pages-col-12 {
    position: relative;
    width: 100%;
}

.pages-col-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
}

.pages-col-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}

.pages-col-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}

.pages-col-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.pages-col-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
}

.pages-col-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

.pages-col-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
}

.pages-col-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}

.pages-col-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
}

.pages-col-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
}

.pages-col-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
}

.pages-col-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

.pages-row {
    display: flex;
    flex-wrap: wrap;
}

.background-image-color {
    background-color: rgb(216, 216, 216);
    background-image: url(assets/image/bgcube.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-attachment: fixed;
}

.background-gradient {
    /* background: linear-gradient(90deg, #ffae45, #ffd04d , #fffc4f); */
	background-size: 400% 400%;
    background-attachment: fixed;
}